body{
    margin: 8px;
    display: block;
    background-color: lightskyblue;
}
#mainHeading{
    color: red;
}
.funParagraph{
    color: green;
}
.landscape{
    height: 300px;
}
.portrait{
    width: 300px;
}
h1{
    width: 500px;
    margin: auto;
}
main{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

footer{
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
article{
    width: 600px;
    background-color: skyblue;
    box-shadow: 2px 2px 5px black;
    margin-top: 20px;
}
img{
    border: 5px ridge gold;
    outline: 10px groove saddlebrown;
    box-shadow: 15px 15px 20px black;
}
pre{
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    background-color: antiquewhite;
    background-image: linear-gradient(rgba(165,42,42,0),rgba(165,42,42,0.2));
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    display: none;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
button{
    background: rgb(200,255,200);
    border-radius: 100%;
    border: 2px solid rgb(0,63,0);
    box-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
    font: 48px bolder;
    margin: 0 10px;
}
button:hover{
    cursor: pointer;
}
.clicked{
    background: rgb(0,63,0);
    border: 2px solid rgb(200,255,200);
    box-shadow: 1px 1px 2.5px black;
}
#viewFinder{
    width: 50px;
    display: flex;
    margin:auto;
    margin-top: 10px;
    border: none;
    box-shadow: none;
    outline: none;
    float: center;
}
