body{
    margin: 8px;
    display: block;
    background-color: lightskyblue;
}
#mainHeading{
    color: red;
}
.funParagraph{
    color: green;
}
.landscape{
    height: 300px;
}
.portrait{
    width: 300px;
}
h1{
    width: 500px;
    margin: auto;
}
main{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

footer{
    color: gray;
    font-size: 12px;
    text-align: center;
}
article{
    width: 600px;
    background-color: skyblue;
    box-shadow: 2px 2px 5px black;
    margin-top: 20px;
}
img{
    border: 5px ridge gold;
    outline: 10px groove saddlebrown;
    box-shadow: 15px 15px 20px black;
}
pre{
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    background-color: antiquewhite;
    background-image: linear-gradient(rgba(165,42,42,0),rgba(165,42,42,0.2));
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    display: none;
}