body{
    margin: 8px;
    display: block;
    background-color: lightskyblue;
}
#mainHeading{
    color: red;
}
.funParagraph{
    color: green;
}
.landscape{
    height: 300px;
}
.portrait{
    width: 300px;
}
h1{
    width: 500px;
    margin: auto;
}
main{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

footer{
    color: gray;
    font-size: 12px;
    text-align: center;
}
article{
    width: 600px;
    background-color: skyblue;
    box-shadow: 2px 2px 5px black;
    margin-top: 20px;
}
img{
    border: 1px solid gold;
    outline: 3px solid white;
    box-shadow: 5px 5px 10px black;
}