body{
    text-align: left;
    background: white;
}
.container{
    display: block;
    background: black;
    border-radius: 25%;
    width: 780px !important;
    height: 565.5px !important;
}
.containerBG{
    display: block;
    background-image: url('../images/viewfinder.png');
    background-size: 780px 565.5px;
    background-repeat: no-repeat;
    border-radius: 25%;
    width: 780px !important;
    height: 565.5px !important;
    position: absolute;
    opacity: 1;
    pointer-events: none;
}
#leftEye, #rightEye{
    display: flex;
    width: 160px;
    height: 160px;
    border: 5px solid black;
    border-radius: 100%;
    position: absolute;
    opacity: 0.25;
}
#leftEye{
    left: 77px;
    top: 242px;
}
#rightEye{
    top: 243px;
    left: 547px;
}
.disc{
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    opacity: 0.25;
}
#leftDisc{
    transform: rotateZ(45deg);
    left: 263px;
    top: 83px;
    
}
#centerDisc{
    transform: rotateZ(90deg);
    left: 370px;
    top: 43px;
}
#rightDisc{
    transform: rotateZ(135deg);
    left: 472px;
    top: 80px;
}
footer{
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
footer p{
    text-align: center;
}
p{
    margin: 0px;
    text-align: left;
    padding-left: 20px;
    word-wrap: normal;
}
h5{
    margin: 0px;
    margin-top: 10px;
}
button{
    background: rgb(150,150,255);
    width: 150px;
    border-radius: 25px;
    border: 2px solid rgb(0,0,63);
    box-shadow: 2px 2px 5px black;
    font: 24px bolder;
    margin: 0 10px;
    color: rgb(81, 81, 107);
}
button:hover{
        cursor: pointer;
}
.buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    width: 780px;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 780px;
}
.fade{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-play-state: paused;
}
.full{
    animation-name: transformEyes;
}
.transparent{
    animation-name: fadeToTransparent;
}
@keyframes transformEyes{
    to{
        opacity: 1;
        top: 100px;
        left: 200px;
        border-radius: 25%;
        width: 400px;
        height: 400px;
    }
}
@keyframes fadeToTransparent{
    to{
        opacity: 0;
    }
}
